h1{
    color:darkblue;
}
h3{
    font-style: italic;
    color: lightblue;
}
ul a{
    color: pink;
    text-decoration: none;
}
.links {
    margin: auto;
    text-decoration: none;
    text-align:center;
    list-style-type: none;
    display: inline-block;
}

a:hover { 
    background-color: lightblue;
  }