h1{
    color:darkblue;
}
h3{
    font-style: italic;
    color: lightblue;
}
a{
    color: pink;
    text-decoration: none;
}
.links {
    margin: auto;
    text-decoration: none;
    text-align:center;
    list-style-type: none;
    display: inline-block;
}

.links:hover { 
    background-color: lightblue;
  }

#word:hover{
    font-weight: bold;
}
#github:hover{
    font-weight: bold;
}
#president:hover{
    font-weight: bold;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

.row1 {
    font-weight:bold;
}

.row2 {
    font-weight:bold;
}

.row3 {
    font-weight:bold;
}